*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0%, 25%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h4{
  font-size: 1rem;
  color: rgb(10, 91, 161);
}
h3{
  font-size: 2rem;
  color: rgb(7, 56, 40);
  line-height: 2.5rem;
  margin: 2erm 0erm;
}

a{
  color: rgb(152, 117, 75);
}